.col-md-6.col-md-offset-3
    h1
        span(class="fa fa-sign-in")
        | Login
        
    form(class="form-horizontal", role="form", id="formLogin")
        div(class="form-group")
            label Email
            input(type="text", class="form-control", name="email", ng-model="userInfo['email']")
        div(class="form-group")
            label Password
            input(type="password", class="form-control", name="password", ng-model="userInfo['password']")

        button(class="btn btn-warning btn-lg", ng-click="logIn()") Login
    hr

    p
        | Need an account? 
        a(ui-sref="signup") Signup
    p
        | Or go 
        a(href="/") home
