.col-md-6.col-md-offset-3
    h1
        span(class="fa fa-sign-in")
        | Signup

    form(class="form-horizontal", role="form", id="formSignup")
        div(class="form-group")
            label Username
            input(type="text", class="form-control", name="username", ng-model="userInfo['username']")
        div(class="form-group")
            label Password
            input(type="password", class="form-control", name="password", ng-model="userInfo['password']")

        button(class="btn btn-warning btn-lg", ng-click="signUp()") Signup
    hr

    p
        | Already have an account? 
        a(ui-sref="login") Login
    p
        | Or go 
        a(href="/") home
